$size-mobile: 410px;
$size-tablet : 600px;
$size-desktop: 960px;
$color-6: hsl(232, 61%, 10%);
$color-5: hsl(233, 33%, 26%);
$color-4: hsl(218, 43%, 33%);
$color-3: hsl(187, 64%, 39%);
$color-2: hsl(164, 44%, 54%);
$color-1:hsl(44, 69%, 55%);
$glow-color: $color-1;
$bg-color-app: $color-6;
$bg-color-header: $color-5;
$header-height: 60px;
$footer-height: 60px;